[user]
	email = ncwilde43@gmail.com
	name = nιcнolaѕ wιlde
	signingkey = 78E2E084522FB8A14C0D9AED800C8DB8B299A622
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	useHttpPath = true
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true
[tag]
	gpgsign = true
[core]
	editor = micro
